#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 99vh;
  margin-top: .5rem;

  h1 {
    margin: 0;
    padding: 0;
  }

}

.mouse-container {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  position: absolute;
}

.pet {
  position: absolute;
  width: 5rem;
}

